# networking
github "Moya/Moya"
# architecture
github "ReactiveX/RxSwift"
# rxswift utilities
github "RxSwiftCommunity/RxDataSources"
# ui
github "kean/Nuke"
github "SnapKit/SnapKit"
github "SVProgressHUD/SVProgressHUD"
github "iwasrobbed/Down"
